{% extends 'layout/app-layout.html'%}
{% block 'content' %}
<div class="container mt-4">
    <div class="text-center mb-4">
    <h1 class="mb-4 text-light">Add Movie</h1>
    </div>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="card shadow p-4">
        {% csrf_token %}

        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>

        <div class="mb-3">
            <label for="desc" class="form-label">Description:</label>
            <textarea class="form-control" id="desc" name="description" rows="3" required></textarea>
        </div>

        <div class="mb-3">
            <label for="thumbnail" class="form-label">Thumbnail:</label>
            <input type="file" class="form-control" id="thumbnail" name="thumbnail" required>
        </div>

        <div class="mb-3">
            <label for="video" class="form-label">Video:</label>
            <input type="file" class="form-control" id="video" name="video" required>
        </div>

        <button type="submit" class="btn btn-primary">Add Movie</button>
    </form>
</div>

{% endblock %}
